

body {
    background-color: #EEF5DB;
    font-family: 'Noto Sans TC', sans-serif;
}

table {    
    margin: 2%;
    border-collapse: collapse;
    border-radius: 10px;
}
table thead tr th{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
}

table thead tr th p {
    margin: 0.25em;
    text-align: center;
    font-size : 1.75rem;
    line-height: 1.8rem;
    

}
table thead tr th {
    background-color: #4F6367;
    
}
table thead tr td{
    background-color: rgb(255, 255, 255);
}
table thead tr td img{
    display:block;
    margin:auto;
}
table thead tr td:hover{
    background-color: rgba(255, 163, 179, 0.63);
    transition: all 0.3s;
}
table thead tr td img:hover{
    transform: scale(1.05);
    transition: all 0.3s;

}

table tbody tr th{
    text-align: center;
    background-color: #7A9E9F;
    line-height: 2.5rem;
    font-size : 1.8rem;
}

table tbody tr td {
    border-bottom-right-radius :10px;
    border-bottom-left-radius :10px;
    line-height: 1.8rem;
    font-size : 1.6rem;
}

td {

    padding: 10px 30px;
    background-color: #B8D8D8;    
    color: rgb(0, 0, 0);
}
th{
    font-weight:normal;
    color: rgb(255, 255, 255);
}

.item {    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.row {
    margin: auto;
    
}
